<div class="d-flex flex-column h-100 ps-3 pe-3">
    <div class="row gy-3 h-100">
        <div #featuresAccordion class="col-md-4 col-12 h-100 overflow-auto">
            <p class="text-primary">This is Raven, your AI assistant tailored to EFG customer churn prediction. <span
                    class="fw-bold text-success">The
                    following are the
                    required features I am looking for.</span></p>
            <div class="accordion" id="featuresAccordion">
                @for (feature of features; track $index) {
                <div class="accordion-item p-1">
                    <app-accordion-item [feature]="feature" [accordionId]="'featuresAccordion'"
                        (opened)="opened(feature.title)"></app-accordion-item>
                </div>
                }

            </div>
        </div>
        <div class="col-md-8 col-12 text-center">
            <p class="fs-3 fw-bold text-success">Example input</p>
            <div class="d-flex flex-column">
                <div class="message align-self-end text-start ">
                    <p class="mb-0 fw-bold">You:</p>
                    <div class="p-3 mb-3 bg-secondary rounded-4 text-white">
                        <p class="text-break mb-0">A client is a 53 year old male. He has a low risk rate. He mainly
                            buys
                            stocks
                            in the real estate sector with
                            an average price of 7.65 and the orders are usually fully executed. He has increased order
                            activity
                            and increased quantity ordered. Most of his orders are completed and little of his orders
                            are
                            canceled. Will he churn?</p>
                    </div>
                </div>
                <div class="message align-self-start text-start">
                    <p class="mb-0 fw-bold text-success">Raven:</p>
                    <p class="text-break">
                        Based on the information you provided, my prediction is that the client will not churn.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>