<form #promptForm="ngForm" (ngSubmit)="send_prompt()" autocomplete="off">
    <div class="d-flex rounded-pill border border-3 border-secondary p-1 pe-3 ps-4 bg-white">
        <input autofocus name="prompt" [(ngModel)]="prompt().prompt" type="text"
            class="form-control form-control-lg p-0 border-0" placeholder="Message Raven..." required autofocus>

        <button class="btn bg-white border-0 p-0" type="submit" [disabled]="promptForm.invalid || awaitingResponse()">
            <i
                class="fa fa-arrow-up text-white p-2 rounded-pill {{promptForm.invalid || awaitingResponse() ? 'bg-secondary' : 'bg-success'}}"></i>
        </button>
    </div>
</form>