<div class="d-flex flex-column">
    @for (message of conversation(); track $index) {
    @if (message.sender === "user") {
    <div class="message align-self-end text-start p-3 mb-3 bg-secondary rounded-4 text-white">
        <p class="text-break mb-0">{{message.message}}</p>
    </div>
    }@else if (message.sender === "bot") {
    <div class="message align-self-start text-start p-3 mb-3">
        <p class="text-break mb-0">
            {{message.message}}
        </p>
    </div>
    }
    }
</div>