<label for={{label()}} class="form-label">{{label()}}</label>
<input [class.is-invalid]="control.touched && control.invalid" [type]="type()" class="form-control" id={{label()}}
    [formControl]="control">
<div *ngIf="control.hasError('required')" class="invalid-feedback text-start">
    {{label()}} is required
</div>
<div *ngIf="control.hasError('min')" class="invalid-feedback text-start">
    {{label()}} must be at least {{control.errors?.['min'].min}}
</div>
<div *ngIf="control.hasError('max')" class="invalid-feedback text-start">
    {{label()}} must be at most {{control.errors?.['max'].max}}
</div>
<div *ngIf="control.hasError('notInteger')" class="invalid-feedback">
    {{label()}} must be an integer.
</div>